.place__link {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  text-decoration-line: underline;
  cursor: pointer;
}

.place__link:hover {
  opacity: 0.8;
  transition: 2s;
}
